@media(min-width: 1200px){
	.container{
		background-image: url('../img/conatct-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #fff;
		opacity: .9;
		background-size: cover;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.content-row{
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0px;
		padding-bottom: 40px;
	}
	.container h1{
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 30px;
		font-weight: bold;
	}
	.container img.logo-goal{
		width: 20%;
		position: absolute;
		left: 100px;
		top:10px;
	}
	label{
		text-align: right;
		display: block;
		margin-right: 30px;
		margin-bottom: 10px;
		font-size:16px; 
	}
	input{
		border:solid 3px #ccc;
		border-radius:6px;
		padding:10px 10px 7px 7px; 
		position: relative;
		padding-right:120px; 
		padding-left:50px; 
	}
	#p_package{
		width: 100%;
		border:solid 3px #ccc;
		border-radius:6px; 
	}
	textarea{
		width: 100%;
		border:solid 3px #ccc;
		border-radius:6px; 
	}
	.submit{
		background-color: black;
		color: #fff;
		width: 100px;
		line-height: 25px;
		margin-top:40px; 
		padding:5px;
		font-weight: bold;
		text-align: center;
	}
	.submit:hover{
		background-color:#fff;
		color:black;
	}
	.ab{
      padding:7px;
      border-radius:4px; 
      position: absolute;
      left:0px;
      right:150px;
      margin-left: auto;
      margin-right: auto;
      width: 30px; 
      line-height: 25px;
      z-index: 1;
      text-align: center;
	}
	.placeholder{
		text-align: center;
	}
}
@media(max-width: 1199px){
	.container{
		width: 100%;
	}
	.content-row{
	
	}
	.container img{
		width: 20%;
		position: absolute;
		left: 0px;
		right: 20px;
		margin-left: auto;
		top:0px;
	}
	.container h1{
		font-size: 20px;
	}
	label{
		text-align: left;
		display: block;
		margin-right: 0px;
		margin-bottom: 10px;
		font-size:12px; 
	}
	input{
		width: 100%;
		padding: 0;
		border-radius:6px; 
		text-align: center;
		position: relative;	
		margin-bottom: 15px;
		border:solid 2px #ccc; 
	}
	.ab{
      border-radius:4px; 
      position: absolute;
      left:0px;
      right: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 20px; 
      line-height: 25px;
      z-index: 1;
      text-align: center;
      padding:0;
	}
	.submit{
		background-color: black;
		color: #fff;
		width: 100px;
		line-height: 25px;
		margin-top:40px; 
	}
	.submit:hover{
		background-color:#fff;
		color:black;
	}
	#p_package{
		border:solid 2px #ccc;
		border-radius:6px; 
	}
	textarea{
		border:solid 2px #ccc;
		border-radius:6px; 
	}
	input.radio1{
		border:solid 5px red;
		margin-left: -100px;
	}
}
@media(min-width: 768px) and (max-width: 1199px){
	.ab{
      border-radius:4px; 
      position: absolute;
      left:0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 20px; 
      line-height: 25px;
      z-index: 1;
      text-align: center;
      padding:0;
	}
	.content-row{
		margin-left: auto;
		margin-right: auto;
		width: 460px;
	}
	.container{
		background-image: url('../img/conatct-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #fff;
		opacity: .9;
		background-size: cover;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.container h1{
		font-size: 30px;
		text-align: center;
	}

}


@media(max-width: 767px){
	.footer{
		position: relative;
	}
  img.power-img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    left: 120px;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
  }
  .footer{
		position: relative;
	}
  .footer p{
  	position: absolute;
  	left: 50px;
  	right: 0px;
  	margin-left: auto;
  	margin-right: auto;
  	bottom: -60px;
  	padding-bottom: 10px;
  }
}
@media(min-width: 768px) and (max-width: 1199px){
  .footer{
		position: relative;
	}
	.footer:after{
		content: "";
		clear: both;
		display: block;
	}
  img.power-img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer p{
  	position: absolute;
  	left: 220px;
  	right: 0px;
  	margin-left: auto;
  	margin-right: auto;
  	bottom: -60px;
  	padding-bottom: 10px;
  }
}
@media(min-width: 1200px){
	.footer{
		position: relative;
	}
  img.power-img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    bottom: 20px;
  }
  .footer p{
  	position: absolute;
  	right: 25px;
  	bottom: 10px;
  	margin-right: auto;
  }
}



