h3.pack{
	margin-left: 30px;
}
.intro-message h1{
	text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
}
.button{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	background-color: #151515;
	width: 180px;
	height: 35px;
	line-height: 33px;
	border-radius: 10px;
	margin-top: 10px;
}
.button a{
	color: #fff;
	font-size: 14px;
	font-family: 'Orbitron', sans-serif;
}
.button a:hover{
	text-decoration: none;
}
img.logo-goaldinaire{
	width: 50%;
	margin-top: 45px;
}
@media(min-width: 1200px){
	.intro-message h1{
		margin-top: -180px;
		text-transform: uppercase;
	    font-family: 'Orbitron', sans-serif;
	    font-size: 70px;
	}
	img.logo-goaldinaire{
		width: 20%;
		margin-top: 37px;
	}
}


footer{

}
footer h3{
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  color: white; 
  margin-left: auto;
  margin-right: auto;
}
footer p{
  color: #8c9e9e;
  text-align: right;
  margin: 0;
  margin-top: -20px;
  margin-right: 20px;
}
footer h3{
  font-size: 14px;
}
@media(max-width: 767px){
  footer h3{
    text-align: center;
    font-size: 14px;
  }
  footer{
    position: relative;
  }
  footer p{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -90px;
    width: 160px;
  }
}
@media(min-width: 1200px){
  img.power-img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    bottom: 7px;
  }
   footer{
	margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width: 767px){
  img.power-img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    left: 140px;
    margin-left: auto;
    margin-right: auto;
    bottom: -90px;
  }
  .banner-social-buttons{
    margin-left: 60px;
    margin-right: auto;
  }
  h2.contact1{
    margin-bottom: 20px;
  }
}
@media(min-width: 768px) and (max-width: 1199px){
  img.power-img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    bottom: -10px;
  }
  footer p{
    float: right;
  }
}




.contact-row{
  background-color: black;
  opacity: .9;
}
.contact-content1 h2{
  color: #fff;
  margin-left: 20px;
  padding-top: 10px;
  font-size: 30px;
}
.contact-content1 p{
  color: #fff;
  margin-left: 20px;
}
.contact-content2 h2{
  color: #fff;
  margin-left: 20px;
  font-size: 30px;
}
.contact-content2 p{
  color: #fff;
  margin-left: 20px;
}
.contact-content3 h2{
  color: #fff;
  margin-left: 20px;
  font-size: 30px;
}
.contact-content3 p{
  color: #fff;
  margin-left: 20px;
  padding-bottom: 20px;
}

@media(min-width: 1200px){
  h2.contact1{
    margin-top: 0px;
  }
  .banner-social-buttons{
    position: absolute;
    top: 260px;
  }
  footer h3{
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 390px;
  }
  footer p{
    width: 160px;
    float: right;
    margin-top: -30px;
  }
}